.hourglass{
    display:block;
    background: #741d98;
    margin:3em auto;
    width:2.5em;
    height:4em;
    animation:hourglass 2s linear infinite;
    margin: 0 0 30px 0;
}

.outer{
    fill: #fe3196;
}

.middle{
    fill: #741d98;
}

@keyframes hourglass{
    0%{
        transform:rotate(0deg);
        box-shadow:
            inset #fe3196 0 -0em 0 0,
            inset #741d98 0 -2em 0 0,
            inset #fe3196 0 -4em 0 0;
    }
    80%{
        transform:rotate(0deg);
        box-shadow:
            inset #fe3196 0 -2em 0 0,
            inset #741d98 0 -2em 0 0,
            inset #fe3196 0 -2em 0 0;
    }
    100%{
        transform:rotate(180deg);
        box-shadow:
            inset #fe3196 0 -2em 0 0,
            inset #741d98 0 -2em 0 0,
            inset #fe3196 0 -2em 0 0;
    }
}