.content-participantes {
    background-color: #e0d4e4;
}

.participantes-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.participantes-container {
    grid-template-columns: 1fr;
    padding: 25px 0;
}

.participante-img {
    width: 150px;
    height: auto;
}

.participante {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.participante-nome {
    color: #721d96;
    font-size: 1.55em;
    line-height: 1em;
    font-weight: 600;
    width: 100%;
}

.participante-cargo {
    display: block;
    color: #222222;
    font-size: 1.1em;
    line-height: 1.2em;
}

.participantes-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.participantes-info h4 {
    padding-bottom: 35px;
    color: #741d99;
    text-align: center;
    font-size: 1.8em;
}

@media (max-width: 1000px) {
    .participantes-grid {
        flex-direction: column;
    }

    .participante {
        margin-bottom: 15px;
    }

    .participante-cargo {
        width: 80%;
    }
}